/* 
style.css 
*/

/* Resets and Fonts
======================================================================= */
/* This is where you would place your CSS reset or @font-face declarations (if applicable) */
@font-face
{
	font-family:homestead1;
	src: url(../fonts/Homestead-One.ttf);
}
@font-face
{
	font-family:homestead2;
	src: url(../fonts/Homestead-Two.ttf);
}
@font-face
{
	font-family:homestead3;
	src: url(../fonts/Homestead-Three.ttf);
}
@font-face
{
	font-family:canter;
	src: url(../fonts/Canter.otf)
}

/* "Mobile" CSS
======================================================================= */
/* This is normally where you'd start putting your site's styles for layout, sizing, etc. The styles here are things we will try not to repeat in our media queries. Ex: font colors, font families, etc. Think of this section as having a media query equivalent to @media screen and (min-width: 0px). */
.row1,.row2,.row3
{
	width:100%;
	position:fixed;
}

.row1
{
	top:67%;
	height:33%;
	background:#03030e;
}

.row2
{
	top:33%;
	height:34%;
	background:#191926;
	z-index:1;
}

.row3
{
	height:34%;
	background:#10101e;	
	z-index:2;
}


.name
{
	font-size:60px;
	text-align:center;
}

.details
{
	font-size:30px;
	text-align:center;
}

.about
{
	font-size:30px;
	text-align:center;
	text-decoration:underline;
}

.circle
{
    width: 40%;
    height:0;
    padding-bottom: 40%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background-image: url(../images/front.jpg); 
	background-size:cover;
	top: 50%;
    left: 50%;
    display: block;
    position: absolute;
	margin-top: -20%; /* HALF OF THE HEIGHT */
    margin-left: -20%; /* HALF OF THE WIDTH */
	z-index:-1;
	border: 10px solid white;
	display:none;
}

body
{
	margin:0px;
	color:white;
	font-family:canter;
}

/* "Tablet" CSS
======================================================================= */
/* This is the section where you may want to start introducing some layout changes, so you'd start building on the foundation you've already created in the first section of CSS. */

@media screen and (min-width: 600px){
    body{ font-size: 18px; } /* upping the font-size all around (as long as you're using em units!) */

	.circle{width:30%;padding-bottom:30%;margin-top: -15%;margin-left: -15%;}

}


/* "Desktop" CSS
======================================================================= */
/* Anything you want to cleanup for user's with large resolutions can go here, there really shouldn't be much though unless you drastically change your layout. */

@media screen and (min-width: 900px){

	.circle{width:20%;padding-bottom:20%;margin-top: -10%;margin-left: -10%;}

}




