/* 
style.css 
*/

/* Resets and Fonts
======================================================================= */
/* This is where you would place your CSS reset or @font-face declarations (if applicable) */

/* "Mobile" CSS
======================================================================= */
/* This is normally where you'd start putting your site's styles for layout, sizing, etc. The styles here are things we will try not to repeat in our media queries. Ex: font colors, font families, etc. Think of this section as having a media query equivalent to @media screen and (min-width: 0px). */

body{ font-size: 16px; font-family: Helvetica, Arial, sans-serif; } /* This is the font size with which em units are based off of */

h1 { font-size: 2em; }

p{ font-size: 1em; color: #222; }

article{ margin-bottom: 1em; }

img{ max-width: 100%; }

#container{ padding: 1em; }

.circle {
    width: 40%;
    height:0;
    padding-bottom: 40%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #4679BD; 
	top: 50%;
    left: 50%;
    display: block;
    position: absolute;
	margin-top: -20%; /* HALF OF THE HEIGHT */
    margin-left: -20%; /* HALF OF THE WIDTH */
}


/* "Tablet" CSS
======================================================================= */
/* This is the section where you may want to start introducing some layout changes, so you'd start building on the foundation you've already created in the first section of CSS. */

@media screen and (min-width: 600px){
    body{ font-size: 18px; } /* upping the font-size all around (as long as you're using em units!) */

    #container{ max-width: 900px; margin: 0 3em; }
	
	.circle{width:30%;padding-bottom:30%;margin-top: -15%;margin-left: -15%;}

}


/* "Desktop" CSS
======================================================================= */
/* Anything you want to cleanup for user's with large resolutions can go here, there really shouldn't be much though unless you drastically change your layout. */

@media screen and (min-width: 900px){

    #container{ margin: 0 auto; }       

    section, aside{ float: left; }
    section{ width: 66.666666667%; margin-right: 3.333333333%; } /* target/context = result */
    aside{ width: 30%; }
	
	.circle{width:20%;padding-bottom:20%;margin-top: -10%;margin-left: -10%;}

}




